// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-colour: #008080;
$secondary-colour: #FF6B5C;
$background-colour: #FAF9F6;
$body-font-colour: #2E2E2E;
$gray-shade-colour: #D9D8D8;
$light-shade-colour: #e3e3e3;
