<%# app/views/surfboards/new.html.erb %>

<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2 class="new-surfboard-title">Add a surfboard!</h2>
    </div>
  </div>

<div class="row justify-content-center">
  <div class="col-lg-10 col-md-12">
    <div class="card shadow-lg p-4 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-md-6 p-4 border-right">
          <%= simple_form_for @surfboard do |f| %>
            <%= render "form", f: f %>
          <% end %>
        </div>

        <div class="col-md-6 p-4 d-flex flex-column align-items-center justify-content-center">
          <h5>Surfboard Preview</h5>
          <br>
          <%= image_tag "surfboard_new.png", class: "img-fluid mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
