.navbar-lewagon {
  justify-content: space-between;
  background: $primary-colour;
  margin-bottom: 25px;

  .nav-link{
    color: $background-colour !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
