.navbar-lewagon {
  justify-content: space-between;
  padding: 0;
  background: $primary-colour;

  .nav-link{
    color: $background-colour !important;
  }

  .nav-link:hover{
    color: $secondary-colour !important;
  }

  h1 {
    font-size: 60px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100px;
  padding: 0;
}

.nav-item {
  font-family: $headers-font;
  font-size: 20px;
  border: 5px;
  border-color: $background-colour;
  border-radius: 5px;
}

