.navbar-lewagon {
  justify-content: space-between;
  padding: 0;
  background: $primary-colour;

  .nav-link{
    color: $background-colour !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100px;
  padding: 0;
}
